
.mat-tab-group{
    width: 100%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.mat-toolbar{
    background-color: white;
}
.nombre{
    width: 20%;
}
.linea{
    height: 1px;
    margin-bottom: 12%;
    border-top: 1px solid lightgrey;
}
p{
    color: grey;
}