.origin{
    width: 100%;
    height: 100%;
    overflow: hidden;
}.cabecera{
    width: 95%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}
.mat-tab-group{
    width: 80%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    float: left;
}
.nombre{
    width: 20%;
    float: left;
    color: grey;
    font: 500 2.5vw Roboto,"Helvetica Neue",sans-serif;
}
p{
    margin: 0%;
}
a{
    font: 500 2vw Roboto,"Helvetica Neue",sans-serif;
}
a:hover{
    color: black;
}