<div class="origin">

    <div class="footer-elements">

        <div class="texto">
            <!-- <i class="material-icons">add</i> -->
            <p class="miNombre">Juan ROSSO</p>
        </div>

        <mat-list role="list">
            <mat-list-item role="listitem"><a href="http://localhost:4200/home" class="enlace">Home</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#" class="enlace">About</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#" class="enlace">Work</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#" class="enlace">Research</a></mat-list-item>
        </mat-list>
        <mat-list role="list">
            <mat-list-item role="listitem"><a href="https://fr.linkedin.com/in/juan-rosso-6b674b3b/fr" class="enlace">LinkedIn</a></mat-list-item>
            <mat-list-item role="listitem"><a href="mailto:juan-pablo.rosso@imag.fr" class="enlace">Email</a></mat-list-item>
        </mat-list>

        <div class="texto">
            <!-- <i class="material-icons">add</i> -->
            <p class="miDireccion">38000, Grenoble</p>
        </div>
    </div>

</div>
