
.origin{
    height: 400px;
}
.footer-elements{
    margin: 5%;
    height: 100%;

    overflow: hidden;
}
.miNombre{
    margin-right: 3vw;
    font: 500 2.5vw Roboto,"Helvetica Neue",sans-serif;
    color: grey;
    float: left;
}
.miDireccion{
    font: 500 2vw Roboto,"Helvetica Neue",sans-serif;
    color: grey;
    float: right;
}
.links{
    padding-top: 2%;
    padding-left: 5vw;
    padding-right: 5vw;

    height: 100%;

    float: left;
}
mat-list{
    height: 100%;

    float: left;
}
.mat-list-item{
    height: 100%;
    font-size: 25px;
}
.material-icons{
    color: darkgrey;
    font-size: 40px;
    float: left;
    margin-top: 10%;
}
.enlace{
    margin-top: 5%;
    margin-bottom: 10%;
    font: 500 2vw Roboto,"Helvetica Neue",sans-serif;
}
a{
    text-decoration: none;
    font-weight: lighter;
    color: black;
    font: 500 25px/32px Roboto,"Helvetica Neue",sans-serif;

}
a:hover{
    font-weight: lighter;
    color: grey;
}