<div class="container">
        <div class="fourthView">
                <div class="centeredInfo">

                        <div class="info1">
                                Scientific path
                        </div>
                        <div class="info2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                ut aliquip ex ea commodo consequat. 
                        </div>
                </div>
        </div>
        <div class="workView">
                <div class="centeredInfo">
                        <div class="centeredInfo-title" style="color: black">
                                Publications
                        </div>
                        <div class="centeredInfo-row">
                                <div class="inlineInfo-box">
                                        <div class="inlineInfo-box-title"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                        <div class="inlineInfo-box-conference"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                        <div class="inlineInfo-box-link"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                </div>
                        </div>
                        <div class="centeredInfo-row">
                                <div class="inlineInfo-box"> 
                                        <div class="inlineInfo-box-title"> 
                                                Emergeables: Deformable Displays for Continuous Eyes-Free Mobile Interaction
                                        </div>
                                        <div class="inlineInfo-box-conference"> 
                                                In Proceedings of the 2016 CHI Conference on Human Factors in Computing Systems (CHI '16)
                                        </div>
                                        <div class="inlineInfo-box-link"> 
                                                DOI: <a href="https://doi.org/10.1145/2858036.2858097">https://doi.org/10.1145/2858036.2858097</a>
                                        </div>
                                </div>
                        </div>
                        <div class="centeredInfo-row">
                                <div class="inlineInfo-box"> 
                                        <div class="inlineInfo-box-title"> 
                                                Impact of Mobile Tangible Slider Design and its Reachability on Pointing Performance
                                        </div>
                                        <div class="inlineInfo-box-conference"> 
                                                In Proceedings of the 28th Conference on l'Interaction Homme-Machine (IHM '16)
                                        </div>
                                        <div class="inlineInfo-box-link"> 
                                                DOI: <a href="https://doi.org/10.1145/3004107.3004123">https://doi.org/10.1145/3004107.3004123</a>
                                        </div>
                                </div>
                        </div>
                        <div class="centeredInfo-row">
                                <div class="inlineInfo-box"> 
                                        <div class="inlineInfo-box-title"> 
                                                Deformable Tangible Slider for Eyes-Free One-Handed Thumb Interaction on Mobile Devices
                                        </div>
                                        <div class="inlineInfo-box-conference"> 
                                                In Proceedings of the 29th Conference on l'Interaction Homme-Machine (IHM '17)
                                        </div>
                                        <div class="inlineInfo-box-link"> 
                                                DOI: <a href="https://doi.org/10.1145/3132129.3132134">https://doi.org/10.1145/3132129.3132134</a>
                                        </div>
                                </div>
                        </div>
                        <div class="centeredInfo-row">
                            <div class="inlineInfo-box"> 
                                <div class="inlineInfo-box-title"> 
                                        Simulating an Extendable Tangible Slider for Eyes-Free One-Handed Interaction on Mobile Devices
                                </div>
                                <div class="inlineInfo-box-conference"> 
                                        In Proceedings of the 2018 International Conference on Advanced Visual Interfaces (AVI '18)
                                </div>
                                <div class="inlineInfo-box-link"> 
                                        DOI: <a href="https://doi.org/10.1145/3206505.3206510">https://doi.org/10.1145/3206505.3206510</a>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
        <div class="firstView">
                <div class="centeredInfo">

                        <div class="centeredInfo-title">
                                Skills
                        </div>
                        <div class="centeredInfo-box">

                                <div class="centeredInfo-row">
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Data analysis
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Scientific writing
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Peer reviewing
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                    </div>
                                    <div class="centeredInfo-row">
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Design
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Prototyping
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Development
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                    </div>

                        </div>
                </div>
        </div>
</div>
<app-footer></app-footer>