<div class="container">
        <div class="fourthView">
                <div class="centeredInfo">

                        <div class="info1">
                                Scientific path
                        </div>
                        <div class="info2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                ut aliquip ex ea commodo consequat. 
                        </div>
                </div>
        </div>
        <div class="workView">
                <div class="centeredInfo">
                        <div class="centeredInfo-title" style="color: black">
                                Publications
                        </div>
                        <div class="centeredInfo-row">
                                <div class="inlineInfo-box">
                                        <div class="inlineInfo-box-title"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                        <div class="inlineInfo-box-conference"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                        <div class="inlineInfo-box-link"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                </div>
                        </div>
                        <div class="centeredInfo-row">
                                <div class="inlineInfo-box"> 
                                        <div class="inlineInfo-box-title"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                        <div class="inlineInfo-box-conference"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                        <div class="inlineInfo-box-link"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                </div>
                        </div>
                        <div class="centeredInfo-row">
                                <div class="inlineInfo-box"> 
                                        <div class="inlineInfo-box-title"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                        <div class="inlineInfo-box-conference"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                        <div class="inlineInfo-box-link"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                </div>
                        </div>
                        <div class="centeredInfo-row">
                                <div class="inlineInfo-box"> 
                                        <div class="inlineInfo-box-title"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                        <div class="inlineInfo-box-conference"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                        <div class="inlineInfo-box-link"> 
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                            labore et dolore magna aliqua.
                                        </div>
                                </div>
                        </div>
                        <div class="centeredInfo-row">
                            <div class="inlineInfo-box"> 
                                    <div class="inlineInfo-box-title"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua.
                                    </div>
                                    <div class="inlineInfo-box-conference"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua.
                                    </div>
                                    <div class="inlineInfo-box-link"> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua.
                                    </div>
                            </div>
                        </div>
                </div>
        </div>
        <div class="firstView">
                <div class="centeredInfo">

                        <div class="centeredInfo-title">
                                Skills
                        </div>
                        <div class="centeredInfo-box">

                                <div class="centeredInfo-row">
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Data analysis
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Scientific writing
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Peer reviewing
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                    </div>
                                    <div class="centeredInfo-row">
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Design
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Prototyping
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Development
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                    </div>

                        </div>
                </div>
        </div>
</div>
<app-footer></app-footer>