<div class="container">
        <div class="secondView">
                <div class="centeredInfo">

                        <div class="info1">
                                About me
                        </div>
                        <div class="info2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                ut aliquip ex ea commodo consequat. 
                        </div>
                </div>
        </div>
        <div class="workView">
                <div class="centeredInfo">

                </div>
        </div>
        <div class="thirdView">
                <div class="centeredInfo">

                        <div class="centeredInfo-title">
                                Capabilities
                        </div>
                        <div class="centeredInfo-box">
                                <div class="box-column">
                                        <div class="box-column-title">
                                                Design
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                                <div class="box-column">
                                        <div class="box-column-title">
                                                Prototyping
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                                <div class="box-column">
                                        <div class="box-column-title">
                                                Development
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>