<div class="container">
        <div class="secondView">
                <div class="centeredInfo">

                        <div class="info1">
                                About me
                        </div>
                        <div class="info2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                ut aliquip ex ea commodo consequat. 
                        </div>
                </div>
        </div>
        <div class="aboutView">
                <div class="centeredInfo">

                        <div class="centeredInfo-title">
                                Objective
                        </div>
                        <div class="centeredInfo-box">
                                <div class="centeredInfo-box-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                        ut aliquip ex ea commodo consequat. 
                                </div>
                        </div>

                        <div class="linea">
                        </div>

                        <div class="centeredInfo-title">
                                Education
                        </div>
                        <div class="centeredInfo-box">
                                <div class="box-education-title">
                                        Lorem ipsum dolor sit amet.
                                </div>
                                <div class="box-education-location">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                                <div class="box-education-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                        ut aliquip ex ea commodo consequat. 
                                </div>
                                
                                <div class="box-education-title">
                                        Lorem ipsum dolor sit amet.
                                </div>
                                <div class="box-education-location">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                                <div class="box-education-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                        ut aliquip ex ea commodo consequat. 
                                </div>
                                
                                <div class="box-education-title">
                                        Lorem ipsum dolor sit amet.
                                </div>
                                <div class="box-education-location">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                                <div class="box-education-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                        ut aliquip ex ea commodo consequat. 
                                </div>
                        </div>
                        
                        <div class="linea" style="margin-top: 0%">
                        </div>
        
                        <div class="centeredInfo-title">
                                Information
                        </div>
                        <div class="centeredInfo-box">
                                <div class="information-row">
                                        
                                        <div class="information-row-title">
                                                Legal status:
                                        </div>
                                        <div class="information-row-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </div>
                                </div>
                                <div class="information-row">
                                        
                                        <div class="information-row-title">
                                                Lorem ipsum:
                                        </div>
                                        <div class="information-row-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </div>
                                </div>
                                <div class="information-row">
                                        
                                        <div class="information-row-title">
                                                Languages:
                                        </div>
                                        <div class="information-row-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </div>
                                </div>
                                <div class="information-row">
                                        
                                        <div class="information-row-title">
                                                Hobbies:
                                        </div>
                                        <div class="information-row-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="thirdView">
                <div class="centeredInfo">

                        <div class="centeredInfo-title" style="color: white">
                                Expertise
                        </div>
                        <div class="centeredInfo-box">
                                <div class="box-column">
                                        <div class="box-column-title">
                                                Human-computer interaction
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                                <div class="box-column">
                                        <div class="box-column-title">
                                                Mobile devices interaction
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                                <div class="box-column">
                                        <div class="box-column-title">
                                                Software development
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

<app-footer></app-footer>