<div class="container">
        <div class="secondView">
                <div class="centeredInfo">

                        <div class="info1">
                                About me
                        </div>
                        <div class="info2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                ut aliquip ex ea commodo consequat. 
                        </div>
                </div>
        </div>
        <div class="aboutView">
                <div class="centeredInfo">

                        <div class="centeredInfo-title">
                                Objective
                        </div>
                        <div class="centeredInfo-box">
                                <div class="centeredInfo-box-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                        ut aliquip ex ea commodo consequat. 
                                </div>
                        </div>
                        
                        <div class="linea">
                        </div>
        
                        <div class="centeredInfo-title">
                                Information
                        </div>
                        <div class="centeredInfo-box">
                                <div class="information-row">
                                        
                                        <div class="information-row-title">
                                                Citizenship:
                                        </div>
                                        <div class="information-row-text">
                                                Venezuelan
                                        </div>
                                </div>
                                <div class="information-row">
                                        
                                        <div class="information-row-title">
                                                Legal status:
                                        </div>
                                        <div class="information-row-text">
                                                Passport talent: chercheur / excercise d'une activite salarie
                                        </div>
                                </div>
                                <div class="information-row">
                                        
                                        <div class="information-row-title">
                                                Languages:
                                        </div>
                                        <div class="information-row-text">
                                                Spanish (native). English (bilingual). French (B2).
                                        </div>
                                </div>
                                <div class="information-row">
                                        
                                        <div class="information-row-title">
                                                Hobbies:
                                        </div>
                                        <div class="information-row-text">
                                                Guitar. Skateboarding. Video games. Board games. Politics
                                        </div>
                                </div>
                        </div>

                        <div class="linea">
                        </div>

                        <div class="centeredInfo-title">
                                Education
                        </div>
                        <div class="centeredInfo-box">
                                <div class="box-education-title">
                                        Java Fullstack Developper
                                </div>
                                <div class="box-education-location">
                                        Grenoble, FR
                                </div>
                                <div class="box-education-text">
                                        Introduction and development of projects with modern frameworks (Angular, NodeJS, Symfony) and web libraries (Material design, Bootstrap, Jquery).
                                        Introduction and implementation of Agile methodology and noSQL databases (MongoDB).
                                        <br><br>
                                        Technologies used: J2EE, HTML/CSS/JS, Typescript, PHP, SQL, JSON, GIT
                                </div>
                                
                                <div class="box-education-title">
                                        PhD in Computer Science
                                </div>
                                <div class="box-education-location">
                                        Grenoble, FR
                                </div>
                                <div class="box-education-text">
                                        Development and implementation of physical and digital prototypes (Arduino, Processing, Android, Ultimaker, Makerbot, laser cut machine).
                                        Knowledge acquisition and implementation on scientific research, scientific writing, data analysis and HCI statistics.
                                        Knowledge acquisition on presentation for large audiences.
                                        <br><br>
                                        Technologies used: Java, R, Latex, SketchUp, Inkscape, Balsamiq, Photoshop
                                </div>
                                
                                <div class="box-education-title">
                                        Master in Computer Science
                                </div>
                                <div class="box-education-location">
                                        Saint Etienne, FR / Alicante, ES
                                </div>
                                <div class="box-education-text">
                                        Knowledge acquisition and implementation on machine learning, data mining, information retrieval and statistics.
                                        <br><br>
                                        Technologies used: Java, Python, R, Weka
                                </div>
                                
                                <div class="box-education-title">
                                        Computer Engineering
                                </div>
                                <div class="box-education-location">
                                        Puerto la Cruz, VE
                                </div>
                                <div class="box-education-text">
                                        Knowledge acquisition and implementation on object-oriented programming, UML diagramming, databases, electronics, robotics and networking.
                                        <br><br>
                                        Technologies used: Java, HTML/CSS/JS, PHP, SQL, C++, Assembly
                                </div>
                        </div>

                </div>
        </div>
        <div class="thirdView">
                <div class="centeredInfo">

                        <div class="centeredInfo-title" style="color: white">
                                Expertise
                        </div>
                        <div class="centeredInfo-box">
                                <div class="box-column">
                                        <div class="box-column-title">
                                                Human-computer interaction
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                                <div class="box-column">
                                        <div class="box-column-title">
                                                Mobile devices interaction
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                                <div class="box-column">
                                        <div class="box-column-title">
                                                Software development
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

<app-footer></app-footer>