
.firstView{
    background-color: lightgrey;
    height: 600px;
    width: 70%;
    
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.secondView{
    background-color: darkgray;
    height: 650px;
    width: 70%;
    
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.thirdView{
    background-color: gray;
    height: 650px;
    width: 70%;
    
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.fourthView{
    background-color: black;
    height: 650px;
    width: 70%;
    
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.aboutView{
    background-color: white;
    width: 70%;
    
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.centeredInfo{

    height: 90%;
    width: 100%;
}
.info1{
    width: 100%;
    
    margin-bottom: 10%;
    
    color: white;
    font: 500 95px/102px Roboto,"Helvetica Neue",sans-serif;
}
.info2{
    width: 100%;
    
    color: dimgrey;
    font: 100 3.5vw Roboto,"Helvetica Neue",sans-serif;
}

.linea{

    margin-top: 10%;
    margin-bottom: 10%;

    height: 2px;
    width: 100%;

    border-bottom: 1px solid black;
}
.lineaFinal{

    margin-top: 10%;
    margin-bottom: 10%;

    height: 2px;
    width: 100%;
}

.centeredInfo-row{

    margin-top: 5%;
    margin-bottom: 5%;

    height: 15%;
    width: 100%;
}

.centeredInfo-title{
    
    width: 100%;
    
    color: black;
    font: 500 75px/82px Roboto,"Helvetica Neue",sans-serif;
}
.centeredInfo-box{

    margin-top: 10%;

    width: 100%;
    height: 100%;
}
.centeredInfo-box-text{

    color: grey;
    font: 100 45px/52px Roboto,"Helvetica Neue",sans-serif;
}

.box-education-title{
    
    width: 100%;
    
    color: black;
    font: 500 55px/62px Roboto,"Helvetica Neue",sans-serif;
}
.box-education-location{
    
    width: 100%;
    
    color: black;
    font: 100 45px/50px Roboto,"Helvetica Neue",sans-serif;
}
.box-education-text{
    
    margin-top: 5%;
    margin-bottom: 10%;

    width: 100%;
    
    color: grey;
    font: 100 35px/42px Roboto,"Helvetica Neue",sans-serif;
}

.information-row{
    
    margin-top: 5%;
    margin-bottom: 5%;

    width: 100%;
    height: 100%;

    overflow: hidden;
}
.information-row-title{

    width: 30%;
    height: 100%;

    float: left;
    
    color: black;
    font: 100 45px/50px Roboto,"Helvetica Neue",sans-serif;
}
.information-row-text{

    width: 70%;
    height: 100%;
    
    float: left;
    
    color: grey;
    font: 100 45px/50px Roboto,"Helvetica Neue",sans-serif;
}

.box-column{

    float: left;
    margin-left: 3%;
    margin-right: 3%;
    width: 27%;
    height: 100%;
}
.box-column-icon{
    
    width: 100%;
    margin-top: 15%;
    text-align: center;
    color: white;
}
i{
    font-size: 88px;
}
.box-column-title{
    
    width: 100%;
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
    
    color: whitesmoke;   
    font: 500 35px/42px Roboto,"Helvetica Neue",sans-serif;
}
.box-column-text{
    
    width: 100%;
    text-align: center;
    
    color: dimgray;
    font: 100 20px/25px Roboto,"Helvetica Neue",sans-serif;
}
.box-column-text-science{
    
    width: 100%;
    text-align: center;
    
    color: lightgrey;
    font: 100 20px/25px Roboto,"Helvetica Neue",sans-serif;
}

.inlineInfo-title{

    border-right: 1px solid grey;

    float: left;
    width: 29%;
    height: 100%;
}
.inlineInfo-title-position{
    color: black;
    font: 700 45px/52px Roboto,"Helvetica Neue",sans-serif;
}
.inlineInfo-title-company{
    color: black;
    font: 300 35px/40px Roboto,"Helvetica Neue",sans-serif;
}
.inlineInfo-title-location{
    margin-top: 15%;

    color: darkgrey;
    font: 100 20px/25px Roboto,"Helvetica Neue",sans-serif;
}
.inlineInfo-title-dates{
    color: darkgrey;
    font: 100 20px/25px Roboto,"Helvetica Neue",sans-serif;
}
.inlineInfo-box{

    float: left;
    width: 70%;
    height: 100%;
}
.inlineInfo-box-text{
    margin-left: 5%;

    color: black;
    font: 100 25px/32px Roboto,"Helvetica Neue",sans-serif;
}
.box-row{
    
    width: 100%;
    height: 50%;
}
.box-row-card{

    float: left;
    margin-left: 5%;
    margin-right: 5%;

    width: 40%;
    height: 100%;
}
.card-title{
    
    width: 100%;
    height: 20%;
    
    text-align: left;
    
    color: whitesmoke;
    font: 500 40px/45px "aktiv-grotesk", "Helvetica Neue", "Helvetica", sans-serif;
}
.card-text{
    
    width: 100%;
    height: 80%;
    
    text-align: left;
}
span{
    color: darkgray;
    font: 100 25px/30px Roboto,"Helvetica Neue",sans-serif;
}

.moreInfo{

    text-align: center;
    width: 100%;
    height: 5%;
}
a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font: 100 25px/30px Roboto,"Helvetica Neue",sans-serif;
}
a:hover{
    font-weight: lighter;
    color: lightgrey;
}