<div class="container">
        <div class="thirdView">
                <div class="centeredInfo">

                        <div class="info1">
                                Experience
                        </div>
                        <div class="info2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                ut aliquip ex ea commodo consequat. 
                        </div>
                </div>
        </div>
        <div class="workView">
                <div class="centeredInfo">
                        <div class="centeredInfo-row">
                                <div class="inlineInfo-title">
        
                                    <div class="inlineInfo-title-position">
                                        Engineer
                                    </div>
                                    <div class="inlineInfo-title-company">
                                        CNRS
                                    </div>
                                    <div class="inlineInfo-title-location">
                                        Grenoble, FR
                                    </div>
                                    <div class="inlineInfo-title-dates">
                                        July 2015 - September 2015
                                    </div>
                                </div>
                                <div class="inlineInfo-box"> 
                                    <div class="inlineInfo-box-text"> 
                                        Development and implementation of an actuated prototype (Arduino, Processing, servomotors, sensors, laser cut machine).
                                        Knowledge acquisition and implementation on scientific research, data analysis and HCI statistics.
                                        <br><br>
                                        Technologies used: Java, R, Latex, Inkscape
                                    </div>
                                </div>
                        </div>

                        <div style="width: 100%; height: 2px;"></div>

                        <div class="centeredInfo-row">
                                <div class="inlineInfo-title">
        
                                    <div class="inlineInfo-title-position">
                                        Internship
                                    </div>
                                    <div class="inlineInfo-title-company">
                                        LIG
                                    </div>
                                    <div class="inlineInfo-title-location">
                                        Grenoble, FR
                                    </div>
                                    <div class="inlineInfo-title-dates">
                                        February 2015 - July 2015
                                    </div>
                                </div>
                                <div class="inlineInfo-box"> 
                                    <div class="inlineInfo-box-text"> 
                                        Development and implementation of actuated prototypes (Arduino, servomotors, sensors, laser cut machine).
                                        Integration of an object recognition technique (SciPy).
                                        <br><br>
                                        Technologies used: Java, Python, Latex, Inkscape
                                    </div>
                                </div>
                        </div>

                        <div style="width: 100%; height: 2px;"></div>
                        
                        <div class="centeredInfo-row">
                                <div class="inlineInfo-title">
        
                                    <div class="inlineInfo-title-position">
                                        Internship
                                    </div>
                                    <div class="inlineInfo-title-company">
                                        LHC
                                    </div>
                                    <div class="inlineInfo-title-location">
                                        Saint Etienne, FR
                                    </div>
                                    <div class="inlineInfo-title-dates">
                                        March 2014 - June 2014
                                    </div>
                                </div>
                                <div class="inlineInfo-box"> 
                                    <div class="inlineInfo-box-text"> 
                                        Development and implementation of scripts for audio manipulation (-).
                                        Integration of a pitch recognition technique (-).
                                        <br><br>
                                        Technologies used: Python, Bash
                                    </div>
                                </div>
                        </div>

                        <div style="width: 100%; height: 2px;"></div>
                        
                        <div class="centeredInfo-row">
                                <div class="inlineInfo-title">
        
                                    <div class="inlineInfo-title-position">
                                        Engineer
                                    </div>
                                    <div class="inlineInfo-title-company">
                                        Private IP service
                                    </div>
                                    <div class="inlineInfo-title-location">
                                        Barcelona, VE
                                    </div>
                                    <div class="inlineInfo-title-dates">
                                        October 2012 - September 2013
                                    </div>
                                </div>
                                <div class="inlineInfo-box"> 
                                    <div class="inlineInfo-box-text"> 
                                        Deployment automatization of virtual machines (Microsoft Virtual Server).
                                        Correction of reported bugs on the company's website.
                                        Part of the QA team.
                                        <br><br>
                                        Technologies used: HTML/CSS/JS, PHP, Bash
                                    </div>
                                </div>
                        </div>

                        <div style="width: 100%; height: 2px;"></div>
                        
                        <div class="centeredInfo-row">
                            <div class="inlineInfo-title">
    
                                <div class="inlineInfo-title-position">
                                    Engineer
                                </div>
                                <div class="inlineInfo-title-company">
                                    Saetha
                                </div>
                                <div class="inlineInfo-title-location">
                                    Lecheria, VE
                                </div>
                                <div class="inlineInfo-title-dates">
                                    August 2012 - October 2012
                                </div>
                            </div>
                            <div class="inlineInfo-box"> 
                                <div class="inlineInfo-box-text"> 
                                    Correction of reported bugs on a commercial software.
                                    <br><br>
                                    Technologies used: C#
                                </div>
                            </div>
                        </div>

                        <div class="centeredInfo-row">
                            <div class="inlineInfo-title">
    
                                <div class="inlineInfo-title-position">
                                    Internship
                                </div>
                                <div class="inlineInfo-title-company">
                                    PDVSA
                                </div>
                                <div class="inlineInfo-title-location">
                                    Puerto la Cruz, VE
                                </div>
                                <div class="inlineInfo-title-dates">
                                    May 2011 - December 2011
                                </div>
                            </div>
                            <div class="inlineInfo-box"> 
                                <div class="inlineInfo-box-text"> 
                                    Recollection of users' needs and requirements.
                                    Design and development of a desktop application (UML diagrams, Eclipse, PostgreSQL).
                                    User tests and module validation.
                                    <br><br>
                                    Technologies used: Java, SQL
                                </div>
                            </div>
                        </div>

                </div>
        </div>
        <div class="fourthView">
                <div class="centeredInfo">

                        <div class="centeredInfo-title">
                                Skills
                        </div>
                        <div class="centeredInfo-box">
                                <div class="centeredInfo-row-skills">
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Creativity
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Critical thinking
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Adaptability
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                    </div>
                                    <div class="centeredInfo-row-skills">
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Collaboration
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Time management
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                        <div class="box-column">
                                                <div class="box-column-title">
                                                        Resilience
                                                </div>
                                                <div class="box-column-text-science">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                        labore et dolore magna aliqua.
                                                </div>
                                        </div>
                                    </div>
                        </div>
                </div>
        </div>
</div>
<app-footer></app-footer>