<div class="container">
        <div class="firstView">
                <div class="centeredInfo">

                        <div class="info1">
                                Some title here
                        </div>
                        <div class="info2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                ut aliquip ex ea commodo consequat. 
                        </div>
                </div>
        </div>
        <div class="secondView">
                <div class="centeredInfo">

                        <div class="centeredInfo-title">
                                Profile
                        </div>
                        <div class="centeredInfo-box">
                                <div class="box-column">
                                        <div class="box-column-icon">
                                                <i class="material-icons">
                                                        accessibility
                                                </i>
                                        </div>
                                        <div class="box-column-title">
                                                User-center oriented
                                        </div>
                                        <div class="box-column-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                                <div class="box-column">
                                        <div class="box-column-icon">
                                                <i class="material-icons">
                                                        smartphone
                                                </i>
                                        </div>
                                        <div class="box-column-title">
                                                Mobile design & ergonomics
                                        </div>
                                        <div class="box-column-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                                <div class="box-column">
                                        <div class="box-column-icon">
                                                <i class="material-icons">
                                                        code
                                                </i>
                                        </div>
                                        <div class="box-column-title">
                                                Software development
                                        </div>
                                        <div class="box-column-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="moreInfo">
                        <a href="#" class="enlace">See more</a>
                </div>
        </div>
        <div class="thirdView">
                <div class="centeredInfo">

                        <div class="centeredInfo-title">
                                Science
                        </div>
                        <div class="centeredInfo-box">
                                <div class="box-column">
                                        <div class="box-column-icon">
                                                <i class="material-icons">
                                                        bar_chart
                                                </i>
                                        </div>
                                        <div class="box-column-title">
                                                Data analysis
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                                <div class="box-column">
                                        <div class="box-column-icon">
                                                <i class="material-icons">
                                                        book
                                                </i>
                                        </div>
                                        <div class="box-column-title">
                                                Scientific writing
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                                <div class="box-column">
                                        <div class="box-column-icon">
                                                <i class="material-icons">
                                                        group
                                                </i>
                                        </div>
                                        <div class="box-column-title">
                                                Teamwork oriented
                                        </div>
                                        <div class="box-column-text-science">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                labore et dolore magna aliqua.
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="moreInfo">
                        <a href="#" class="enlace">See more</a>
                </div>
        </div>
        <div class="fourthView">
                <div class="centeredInfo">
                        <div class="inlineInfo-title">
                                Tools
                        </div>
                        <div class="inlineInfo-box"> 
                                <div class="box-row">
                                        <div class="box-row-card">
                                                <div class="card-title">
                                                        Languages
                                                </div>
                                                <div class="card-text">
                                                        <mat-list role="list">
                                                                <mat-list-item role="listitem"><span>Java</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>HTML/CSS/JS</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>R</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>SQL</span></mat-list-item>
                                                        </mat-list>
                                                </div>
                                        </div>
                                        <div class="box-row-card">
                                                <div class="card-title">
                                                        Frameworks
                                                </div>
                                                <div class="card-text">
                                                        <mat-list role="list">
                                                                <mat-list-item role="listitem"><span>Arduino</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>Angular</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>NodeJS</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>Symfony</span></mat-list-item>
                                                        </mat-list>
                                                </div>
                                        </div>
                                </div>
                                <div class="box-row">
                                        <div class="box-row-card">
                                                <div class="card-title">
                                                        Libraries
                                                </div>
                                                <div class="card-text">
                                                        <mat-list role="list">
                                                                <mat-list-item role="listitem"><span>Bootstrap</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>Material</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>Jquery</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>PrintJS</span></mat-list-item>
                                                        </mat-list>
                                                </div>
                                        </div>
                                        <div class="box-row-card">
                                                <div class="card-title">
                                                        Others
                                                </div>
                                                <div class="card-text">
                                                        <mat-list role="list">
                                                                <mat-list-item role="listitem"><span>SketchUp</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>Inkscape</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>MongoDB</span></mat-list-item>
                                                                <mat-list-item role="listitem"><span>Git</span></mat-list-item>
                                                        </mat-list>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="moreInfo">
                        <a href="#" class="enlace">See more</a>
                </div>
        </div>
</div>